sql_to_blob_movement/pipeline/PL_DATA_ASQLDB_BLOB.json
{
	"name": "PL_DATA_ASQLDB_BLOB",
	"properties": {
		"activities": [
			{
				"name": "tables_table_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from cloudpandithtables where is_active=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_table_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "tables_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('tables_table_list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetMetadata_Exists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ASQLDB_getmetadata",
									"type": "DatasetReference",
									"parameters": {
										"sourcetable": {
											"value": "@item().sourcetable",
											"type": "Expression"
										},
										"sourceschema": {
											"value": "@item().sourceschema",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "IfCondition_tabl_exists_or_not",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetMetadata_Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('GetMetadata_Exists').output.exists,true)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 15
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copydata_sqldb_to_blob",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Delete1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ASQLDB_getmetadata",
												"type": "DatasetReference",
												"parameters": {
													"sourcetable": {
														"value": "@item().sourcetable",
														"type": "Expression"
													},
													"sourceschema": "@item().sourceschema"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Blob_sink",
												"type": "DatasetReference",
												"parameters": {
													"sinkcontainername": {
														"value": "@item().sinkcontainername",
														"type": "Expression"
													},
													"sinkfilename": "@item().sinkfilename"
												}
											}
										]
									},
									{
										"name": "Delete1",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DS_Blob_sink",
												"type": "DatasetReference",
												"parameters": {
													"sinkcontainername": {
														"value": "@item().sinkcontainername",
														"type": "Expression"
													},
													"sinkfilename": {
														"value": "@item().sinkfilename",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-06T08:54:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}