cloudpanthiadfv2/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "cloudpanthiadfv2"
		},
		"DS_Asql_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DS_Asql_db'"
		},
		"LS_abs_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_abs'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_Asql_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DS_Asql_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_abs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_abs_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Json_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_abs",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sinkcontainer": {
						"type": "string"
					},
					"sinkfilename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().sinkfilename",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().sinkcontainer",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_abs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_asqldb_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_Asql_db",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourcetablename": {
						"type": "string"
					},
					"schemaname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().sourcetablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_Asql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_data_asqldb_to_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cloudpandith_copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_asqldb_source",
								"type": "DatasetReference",
								"parameters": {
									"sourcetablename": {
										"value": "@pipeline().parameters.pptablename",
										"type": "Expression"
									},
									"schemaname": {
										"value": "@pipeline().parameters.ppschemaname",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Json_sink",
								"type": "DatasetReference",
								"parameters": {
									"sinkcontainer": {
										"value": "@pipeline().parameters.ppcontainername",
										"type": "Expression"
									},
									"sinkfilename": {
										"value": "@pipeline().parameters.ppfilename",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "success_Stored_procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cloudpandith_copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[pipeline_log_usp]",
							"storedProcedureParameters": {
								"copyActivity_end_time": {
									"value": {
										"value": "@activity('cloudpandith_copy').executionEndtime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"copyActivity_start_time": {
									"value": {
										"value": "@activity('cloudpandith_copy').executionStarttime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"CopyDuration_in_sec": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.copyDuration",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DataFactory_Name": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Desination": {
									"value": {
										"value": "@pipeline().parameters.ppcontainername",
										"type": "Expression"
									},
									"type": "String"
								},
								"effectiveIntegrationRuntime": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.effectiveIntegrationRuntime",
										"type": "Expression"
									},
									"type": "String"
								},
								"Error_message": {
									"value": {
										"value": "@activity('cloudpandith_copy').error",
										"type": "Expression"
									},
									"type": "String"
								},
								"Execution_status": {
									"value": {
										"value": "@activity('cloudpandith_copy').status",
										"type": "Expression"
									},
									"type": "String"
								},
								"Execution_status_code": {
									"value": {
										"value": "@activity('cloudpandith_copy').statuscode",
										"type": "Expression"
									},
									"type": "String"
								},
								"No_ParallelCopies": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.usedparallelcopies",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"rowscopied": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.rowscopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowsRead": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.rowsread",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sink_type": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.executionDetails[0].sink.type",
										"type": "Expression"
									},
									"type": "String"
								},
								"source": {
									"value": {
										"value": "@concat(pipeline().parameters.ppschemaname,'.',pipeline().parameters.pptablename)",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_type": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.executionDetails[0].source.type",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DS_Asql_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "failed_Stored_procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cloudpandith_copy",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[pipeline_log_usp]",
							"storedProcedureParameters": {
								"copyActivity_end_time": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.executionEndtime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"copyActivity_start_time": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.executionStarttime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"CopyDuration_in_sec": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.copyDuration",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DataFactory_Name": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Desination": {
									"value": {
										"value": "@pipeline().parameters.ppcontainername",
										"type": "Expression"
									},
									"type": "String"
								},
								"effectiveIntegrationRuntime": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.effectiveIntegrationRuntime",
										"type": "Expression"
									},
									"type": "String"
								},
								"Error_message": {
									"value": {
										"value": "@activity('cloudpandith_copy').error",
										"type": "Expression"
									},
									"type": "String"
								},
								"Execution_status": {
									"value": {
										"value": "@activity('cloudpandith_copy').status",
										"type": "Expression"
									},
									"type": "String"
								},
								"Execution_status_code": {
									"value": {
										"value": "@activity('cloudpandith_copy').statuscode",
										"type": "Expression"
									},
									"type": "String"
								},
								"No_ParallelCopies": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.usedparallelcopies",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Pipeline_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"rowscopied": {
									"type": "Int32"
								},
								"RowsRead": {
									"type": "Int32"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sink_type": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.executionDetails[0].sink.type",
										"type": "Expression"
									},
									"type": "String"
								},
								"source": {
									"value": {
										"value": "@concat(pipeline().parameters.ppschemaname,'.',pipeline().parameters.pptablename)",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_type": {
									"value": {
										"value": "@activity('cloudpandith_copy').output.executionDetails[0].source.type",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DS_Asql_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ppschemaname": {
						"type": "string"
					},
					"pptablename": {
						"type": "string"
					},
					"ppcontainername": {
						"type": "string"
					},
					"ppfilename": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-08T09:48:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_asqldb_source')]",
				"[concat(variables('factoryId'), '/datasets/DS_Json_sink')]",
				"[concat(variables('factoryId'), '/linkedServices/DS_Asql_db')]"
			]
		}
	]
}